// Button backgrounds
@mixin buttonBackground($startColor, $endColor, $text-color: #fff, $textShadow: 0 1px 0 rgba(0, 0, 0, .1)) {
    // gradientBar will set the background to a pleasing blend of these, to support IE<9
    @include gradientBar($startColor, $endColor, $text-color, $textShadow);
    // in these cases the gradient won't conver the backgound, so we override
    &:hover,
    &:focus,
    &:active,
    &.active,
    &.disabled,
    &[disabled] {
        color: $text-color;
        background-image: none;
        background-color: $startColor;
    }
}